{% extends "base.html.twig" %}

{% block body %}
    <h1>Home - Chinq</h1>
    <p> {{ items|length }} items in database. Only showing the first 1000</p>

    <div class="container">
        <div class="row">
            {% for item in items|slice(0, 1000) %}
                <div class="card" style="width: 18rem;">
                    <a href="{{ path('item', {item: item.id}) }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.name }}</h5>
                        <div class="card-text">
                            <ul>
                            <li>Type : {{ item.type }}</li>
                            <li>Level : {{ item.level }}</li>
                            <li><img src="{{ asset('images/items/40/' ~ item.itemId ~ '.png') }}" alt="Symfony!"/></li>
                            </ul>
                        </div>
                    </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}